body {
    background:#EE6C4D;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    background:#FFE787;
    margin:10px;
}

.assignment img {
width:200px;
padding:10px;
}

h1 {
    color:#6b4b3e;
    text-align:center;
}