body {
    background:#EE6C4D;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    background:#FFE787;
    margin:10px;
}

.assignment img {
width:200px;
border:2px solid #326273;
margin-right:20px;
}

h1 {
    color:#326273;
    text-align:center;
}

a {
    text-decoration:none;
    color:#326273;
}